<a href="https://colab.research.google.com/github/Kausharalam7/Data-Science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Pandas is an open-source Python library used for data manipulation and analysis.

It provides powerful data structures for working with structured data (rows & columns) — much like Excel or SQL tables, but with the full power of Python.

Why Pandas is used in Data Science

Pandas is used because:

*  It loads data from multiple formats: CSV, Excel, SQL, JSON, Parquet, etc.
*  It cleans data: handles missing values, removes duplicates, fixes formats.
*  It filters and queries: select rows/columns, apply conditions.
*  It aggregates and groups data: like SQL’s GROUP BY.
*  It integrates with other libraries like NumPy, Matplotlib, Seaborn, scikit-learn.

In [ ]:
# How is Pandas different from NumPy?
# Pandas works with labeled tabular data; NumPy works with numeric arrays without labels.
import pandas as pd
import numpy as np

In [ ]:
data = {
    'Name': ['Amit', 'Priya', 'Rahul'],
    'Age': [25, 30, 22],
    'City': ['Delhi', 'Mumbai', 'Bangalore']
}

df = pd.DataFrame(data)
print(df)

    Name  Age       City
0   Amit   25      Delhi
1  Priya   30     Mumbai
2  Rahul   22  Bangalore

**Pandas Data Structures**

1. Series

* A Series is a 1D labeled array that can store any data type (int, float,     string, Python objects).
It has two parts:

   Index → labels (row names)

   Values → actual data

In [ ]:
# creating series

# from lists
s1=pd.Series([10,20,30])

# from a numpy array
arr=np.array([5,20,25])
s2=pd.Series(arr)

# from a dictionary
s3=pd.Series({'a':300,'b':'200','c':100})

print(s1)
print(s2)
print(s3)

0    10
1    20
2    30
dtype: int64
0     5
1    20
2    25
dtype: int64
a    300
b    200
c    100
dtype: object

In [ ]:
# Indexing & Slicing

#label based indexing (.loc)
print(s3.loc['a'])

# integer based indexing(.iloc)
print(s3.iloc[1])

# Slicing
print(s2[0:2])

300
200
0     5
1    20
dtype: int64

**DataFrame **

A DataFrame is a 2D labeled data structure (rows & columns), like an Excel table or SQL table.

* Columns can have different data types.

In [ ]:
# creating dataframe

# from dictionary of lists
data={
    'Name':['Amit','Priya', 'rahul'],
    'Age':[23,45,67],
    'City':['Delhi','New York','Bangalore']
}
df=pd.DataFrame(data)
print(df)
print("  \n")

# from list of dictionaries
data_list=[
     {'Name': 'Amit', 'Age': 25},
     {'Name': 'Priya', 'Age': 30}
]
df2=pd.DataFrame(data_list)
print(df2)
print("\n")

# from numpy array
arr=np.array([[2,3],[20,4]])
df3=pd.DataFrame(arr, columns=['col1','col2'])
print(df3)

    Name  Age       City
0   Amit   23      Delhi
1  Priya   45   New York
2  rahul   67  Bangalore


    Name  Age
0   Amit   25
1  Priya   30


   col1  col2
0     2     3
1    20     4

In [ ]:
data = {
    'Name': ['Amit', 'Priya', 'Rahul'],
    'Age': [25, 30, 22],
    'City': ['Delhi', 'Mumbai', 'Bangalore']
}
df=pd.DataFrame(data)
print(df)
print(df.shape)
print(df.columns)
print(df.index)
print(df.dtypes)

    Name  Age       City
0   Amit   25      Delhi
1  Priya   30     Mumbai
2  Rahul   22  Bangalore
(3, 3)
Index(['Name', 'Age', 'City'], dtype='object')
RangeIndex(start=0, stop=3, step=1)
Name    object
Age      int64
City    object
dtype: object

**Importing & Exporting Data in Pandas**

In [ ]:
# importing data (reading files)

# Basic read
df = pd.read_csv("data.csv")

# Common parameters
df = pd.read_csv(
    "data.csv",
    sep=",",            # Change separator (default is comma)
    header=0,           # Row number to use as column names (default 0)
    index_col=0,        # Column to use as index
    usecols=['order_id','ship_date'], # Only load specific columns
   # skiprows=2          # Skip first 2 rows
)
print(df.head())

                 ship_date
order_id
CA-2020-152156  11-11-2020
CA-2020-152156  11-11-2020
CA-2020-138688  16-06-2020
US-2019-108966  18-10-2019
US-2019-108966  18-10-2019

In [ ]:
# Excel files

df = pd.read_excel("data.xlsx", sheet_name="Sheet1")

# Reading specific columns
df = pd.read_excel("data.xlsx", usecols="A:C")  # First 3 columns

In [ ]:
# JSON files
df = pd.read_json("data.json")

In [ ]:
# SQL Databases
import sqlite3
conn = sqlite3.connect("mydb.db")

# Read SQL table
df = pd.read_sql("SELECT * FROM customers", conn)

In [ ]:
# Exporting Data (Saving files)

# CSV
df.to_csv("output.csv", index=False)  # index=False → don’t save row numbers

# Excel
df.to_excel("output.xlsx",index=False, sheet_name="Results")

# JSON
df.to_json("output.json", orient="records")

In [ ]:
df = pd.read_csv("titanic.csv")
print(df.head())

  Cabin            Ticket number  Survived
0   NaN         A/5 21171      5         0
1   C85          PC 17599      3         1
2   NaN  STON/O2. 3101282      6         1
3  C123            113803      3         1
4   NaN            373450      A         0

In [ ]:
print(df.tail())

    Cabin      Ticket number  Survived
886   NaN      211536      3         0
887   B42      112053      3         1
888   NaN  W./C. 6607      1         0
889  C148      111369      2         1
890   NaN      370376      3         0

In [ ]:
print(df.sample(5))

    Cabin         Ticket number  Survived
181   NaN  SC/PARIS 2131      6         0
36    NaN           2677      4         1
595   NaN         345773      A         0
130   NaN         349241      5         0
143   NaN         365222      6         0

In [ ]:
# .info() → overview of DataFrame --- Shows column names, non-null counts, and data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Cabin     204 non-null    object
 1   Ticket    891 non-null    object
 2   number    891 non-null    object
 3   Survived  891 non-null    int64
dtypes: int64(1), object(3)
memory usage: 28.0+ KB

In [ ]:
# .describe() → statistical summary  -- Works only on numeric columns by default.
df.describe()

         Survived
count  891.000000
mean     0.383838
std      0.486592
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [ ]:
df.describe(include="all") # To include categorical columns too:

       Cabin  Ticket number    Survived
count    204     891    891  891.000000
unique   147     681      7         NaN
top       G6  347082      A         NaN
freq       4       7    139         NaN
mean     NaN     NaN    NaN    0.383838
std      NaN     NaN    NaN    0.486592
min      NaN     NaN    NaN    0.000000
25%      NaN     NaN    NaN    0.000000
50%      NaN     NaN    NaN    0.000000
75%      NaN     NaN    NaN    1.000000
max      NaN     NaN    NaN    1.000000

In [ ]:
# .nunique() → number of unique values per column
df.nunique()

Cabin       147
Ticket      681
number        7
Survived      2
dtype: int64

In [ ]:
# .value_counts() → frequency count of unique values in a column
df['Ticket'].value_counts()

Ticket
347082              7
1601                7
CA. 2343            7
3101295             6
CA 2144             6
                   ..
PC 17590            1
17463               1
330877              1
373450              1
STON/O2. 3101282    1
Name: count, Length: 681, dtype: int64

In [ ]:
df = pd.DataFrame({
    'ID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Dept': ['HR', 'IT', 'IT', 'Finance']
})

print(df['Name'])
print(df.loc[1:2, ['Name', 'Age']])
print(df.iloc[0:2, 0:2])
print(df[df['Age'] > 30])
print(df.at[2, 'Dept'])

# .loc[] → label-based, .iloc[] → position-based.
# Boolean indexing is heavily used for data cleaning & filtering.
# .at[] and .iat[] are for speed optimization when accessing a single value.
# .set_index() and .reset_index() are important for time-series and multi-index operations.

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
      Name  Age
1      Bob   30
2  Charlie   35
    ID   Name
0  101  Alice
1  102    Bob
    ID     Name  Age     Dept
2  103  Charlie   35       IT
3  104    David   40  Finance
IT

**Handling Missing Values**

In [ ]:
df = pd.DataFrame({
    'ID': [1, 2, 2, 4],
    'Name': ['Alice', 'Bob', 'Bob', 'David'],
    'Age': [25, np.nan, 30, 40],
    'Dept': ['HR', 'IT', np.nan, 'Finance']
})

In [ ]:
# Check & fill missing values
print(df.isna().sum())

ID      0
Name    0
Age     1
Dept    1
dtype: int64

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Dept'].fillna('Unknown', inplace=True)
print(df)

   ID   Name        Age     Dept
0   1  Alice  25.000000       HR
1   2    Bob  31.666667       IT
2   2    Bob  30.000000  Unknown
3   4  David  40.000000  Finance

/tmp/ipython-input-3390123323.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-3390123323.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dept'].fillna('Unknown', inplace=True)

In [ ]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [ ]:
# Rename column
df.rename(columns={'Dept':'Department'}, inplace=True)
print(df)

   ID   Name        Age Department
0   1  Alice  25.000000         HR
1   2    Bob  31.666667         IT
2   2    Bob  30.000000    Unknown
3   4  David  40.000000    Finance

In [ ]:
# Change data type
df['ID'] = df['ID'].astype(str)

print(df)

  ID   Name        Age Department
0  1  Alice  25.000000         HR
1  2    Bob  31.666667         IT
2  2    Bob  30.000000    Unknown
3  4  David  40.000000    Finance

**Modifying Data**

In [ ]:
# Adding & Updating Columns

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

# Add a new column
df['City'] = ['Delhi', 'Mumbai', 'Bangalore']

# Update an existing column
df['Age'] = df['Age'] + 1

# Add column based on condition
df['Senior'] = df['Age'] > 30

print(df)

      Name  Age       City  Senior
0    Alice   26      Delhi   False
1      Bob   31     Mumbai    True
2  Charlie   36  Bangalore    True

In [ ]:
# Appyling Function -- three main methods
# 1) .apply() – works on Series or DataFrame along rows/columns

# apply to series
df['Age_in_5_years']=df['Age'].apply(lambda x:x+5)

# apply to dataframe
df[['Age','Age_in_5_years']]=df[['Age','Age_in_5_years']].apply(lambda x:x*2)
print(df)

      Name  Age       City  Senior  Age_in_5_years
0    Alice  104      Delhi   False             114
1      Bob  124     Mumbai    True             134
2  Charlie  144  Bangalore    True             154

In [ ]:
# .map() – works only on Series, element-wise.
df['Name_length'] = df['Name'].map(len)
df['City_upper'] = df['City'].map(str.upper)
print(df)

      Name  Age       City  Senior  Age_in_5_years  Name_length City_upper
0    Alice  104      Delhi   False             114            5      DELHI
1      Bob  124     Mumbai    True             134            3     MUMBAI
2  Charlie  144  Bangalore    True             154            7  BANGALORE

In [ ]:
# .applymap() – works only on DataFrame, element-wise
df[['Age', 'Age_in_5_years']] = df[['Age', 'Age_in_5_years']].applymap(lambda x: x / 2)
print(df)

      Name   Age       City  Senior  Age_in_5_years  Name_length City_upper
0    Alice  26.0      Delhi   False            28.5            5      DELHI
1      Bob  31.0     Mumbai    True            33.5            3     MUMBAI
2  Charlie  36.0  Bangalore    True            38.5            7  BANGALORE

/tmp/ipython-input-1577728450.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['Age', 'Age_in_5_years']] = df[['Age', 'Age_in_5_years']].applymap(lambda x: x / 2)

In [ ]:
# string Operations (.str)
df['Name_lower']=df['Name'].str.lower()
df['Name_contains_a']=df['Name'].str.contains('a',case=False)
df['Name_replaced']=df['Name'].str.replace('Alice','Alicia',regex=False)
print(df)

      Name   Age       City  Senior  Age_in_5_years  Name_length City_upper  \
0    Alice  26.0      Delhi   False            28.5            5      DELHI
1      Bob  31.0     Mumbai    True            33.5            3     MUMBAI
2  Charlie  36.0  Bangalore    True            38.5            7  BANGALORE

  Name_lower  Name_contains_a Name_replaced
0      alice             True        Alicia
1        bob            False           Bob
2    charlie             True       Charlie

In [ ]:
# Replacing values

# replacing specific values
df['City']=df['City'].replace('Delhi','New Delhi')

# replacing multiple rows
df['City']=df['City'].replace({'Mumbai': 'Bombay','Bangalore':'Bangaluru'})

# replace in entire dataframe
df.replace(31,99,inplace=True)

print(df)

      Name   Age       City  Senior  Age_in_5_years  Name_length City_upper  \
0    Alice  26.0  New Delhi   False            28.5            5      DELHI
1      Bob  99.0     Bombay    True            33.5            3     MUMBAI
2  Charlie  36.0  Bangaluru    True            38.5            7  BANGALORE

  Name_lower  Name_contains_a Name_replaced
0      alice             True        Alicia
1        bob            False           Bob
2    charlie             True       Charlie

**Sorting And Ranking**

In [ ]:
#Sorting by Values — .sort_values()

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 35, 30],
    'Score': [90, 95, 95]
})

# Sort by one column (ascending)
df_sorted_age = df.sort_values(by='Age')

# Sort by one column (descending)
df_sorted_score = df.sort_values(by='Score', ascending=False)

# Sort by multiple columns
df_sorted_multi = df.sort_values(by=['Age', 'Score'], ascending=[True, False])

print(df_sorted_multi)

      Name  Age  Score
0    Alice   25     90
2  Charlie   30     95
1      Bob   35     95

In [ ]:
# Sorting by Index — .sort_index()
# Sort by index (row labels)
df_sorted_index = df.sort_index()

# Sort index in descending order
df_sorted_index_desc = df.sort_index(ascending=False)
print(df_sorted_index_desc)

      Name  Age  Score
2  Charlie   30     95
1      Bob   35     95
0    Alice   25     90

In [ ]:
# Ranking Values -- .rank()

# rank based on values (smallest =rank 1)
df['Age_rank']=df['Age'].rank()

# rank with highest first
df['Score_rank']=df['Score'].rank(ascending=False)

# handle ties differenctyly
df['dense_rank']=df['Score'].rank(method='dense',ascending=False)

print(df)

      Name  Age  Score  Age_rank  Score_rank  dense_rank
0    Alice   25     90       1.0         3.0         2.0
1      Bob   35     95       3.0         1.5         1.0
2  Charlie   30     95       2.0         1.5         1.0

**Grouping & Aggregation**

Grouping means splitting data into groups based on some criteria (like category, department, or date),
and then applying aggregation, transformation, or filtering.

In [ ]:
df = pd.DataFrame({
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Salary': [50000, 70000, 60000, 52000, 65000, 62000],
    'Bonus': [5000, 7000, 6000, 5200, 6500, 6200]
})

# Group by one column
grouped = df.groupby('Department')
print(df)

  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         IT      Bob   70000   7000
2         IT  Charlie   60000   6000
3         HR    David   52000   5200
4    Finance      Eve   65000   6500
5    Finance    Frank   62000   6200

In [ ]:
# Average salary by department
avg_salary = df.groupby('Department')['Salary'].mean()

# Sum of bonus by department
sum_bonus = df.groupby('Department')['Bonus'].sum()

# Count employees in each department
count_emp = df.groupby('Department')['Employee'].count()
print(avg_salary)
print("Next")
print(sum_bonus)
print("next")
print(count_emp)

Department
Finance    63500.0
HR         51000.0
IT         65000.0
Name: Salary, dtype: float64
Next
Department
Finance    12700
HR         10200
IT         13000
Name: Bonus, dtype: int64
next
Department
Finance    2
HR         2
IT         2
Name: Employee, dtype: int64

In [ ]:
# .agg() for Multiple Aggregations

# Multiple aggregations on one column
aggonecol=df.groupby('Department')['Salary'].agg(['mean', 'max', 'min'])
print(aggonecol)
print(" ------- -------------------")

# Different aggregations for different columns
aggfordff=df.groupby('Department').agg({
    'Salary': ['mean', 'max'],
    'Bonus': ['sum', 'min']
})
print(aggfordff)

               mean    max    min
Department
Finance     63500.0  65000  62000
HR          51000.0  52000  50000
IT          65000.0  70000  60000
 ------- -------------------
             Salary         Bonus
               mean    max    sum   min
Department
Finance     63500.0  65000  12700  6200
HR          51000.0  52000  10200  5000
IT          65000.0  70000  13000  6000

In [ ]:
# Grouping by Multiple Columns
# Group by Department and Bonus value
df.groupby(['Department', 'Bonus']).sum()

                 Employee  Salary
Department Bonus
Finance    6200     Frank   62000
           6500       Eve   65000
HR         5000     Alice   50000
           5200     David   52000
IT         6000   Charlie   60000
           7000       Bob   70000

**Merging, Joining & Concatenation**

In [ ]:
# pd.merge() — SQL-Style Joins
# pd.merge() combines DataFrames based on one or more common columns.

df1=pd.DataFrame({
    'ID':[1,2,3],
    'Name':['Alice','Bob','Charlie']
})
df2=pd.DataFrame({
    'ID':[2,3,4],
    'Salary':[7000,3000,2000]
})

# inner join
print("INNER JOIN")
innerjoin=pd.merge(df1,df2,on="ID", how='inner')
print(innerjoin)

# left join
print("LEFT JOIN")
leftjoin=pd.merge(df1,df2,on="ID",how="left")
print(leftjoin)

# outer join
print("OUTER JOIN")
outerjoin=pd.merge(df1, df2, on='ID', how='outer')
print(outerjoin)

INNER JOIN
   ID     Name  Salary
0   2      Bob    7000
1   3  Charlie    3000
LEFT JOIN
   ID     Name  Salary
0   1    Alice     NaN
1   2      Bob  7000.0
2   3  Charlie  3000.0
OUTER JOIN
   ID     Name  Salary
0   1    Alice     NaN
1   2      Bob  7000.0
2   3  Charlie  3000.0
3   4      NaN  2000.0

In [ ]:
# pd.concat() — Stacking DataFrames
# Used for combining DataFrames along rows or columns.

df_a = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df_b = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Stack rows (axis=0)
p1=pd.concat([df_a, df_b], axis=0)
print(p1)

# Stack columns (axis=1)
p2=pd.concat([df_a, df_b], axis=1)
print(p2)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

**Reshaping & Pivoting**

.pivot() — Reshape by Setting New Index/Columns

Creates a new table from unique combinations of index/columns.

Only works if the index-column combinations are unique (otherwise → error).

In [9]:
df = pd.DataFrame({
    'Name': ['Alice', 'Alice', 'Bob', 'Bob'],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Score': [85, 90, 78, 88]
})
print(df)
df1=df.pivot(index='Name', columns='Subject', values='Score')
print(df1)

    Name  Subject  Score
0  Alice     Math     85
1  Alice  Science     90
2    Bob     Math     78
3    Bob  Science     88
Subject  Math  Science
Name
Alice      85       90
Bob        78       88

.pivot_table() — Pivot + Aggregation

Works like Excel PivotTable.

Handles duplicates by aggregating values.

You can specify aggfunc (mean, sum, count, etc.).

In [10]:
df2=df.pivot_table(index='Name', columns='Subject', values='Score', aggfunc='mean')
print(df2)

Subject  Math  Science
Name
Alice    85.0     90.0
Bob      78.0     88.0

In [11]:
# .melt() — Unpivoting (Wide → Long Format) ---- Opposite of pivot — turns columns into rows.
df_wide = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Math': [85, 78],
    'Science': [90, 88]
})

pd.melt(df_wide, id_vars=['Name'], var_name='Subject', value_name='Score')

    Name  Subject  Score
0  Alice     Math     85
1    Bob     Math     78
2  Alice  Science     90
3    Bob  Science     88

**Time Series & Date Handling**

In [20]:
# Converting to Datetime — pd.to_datetime()
# Ensures a column is stored as a datetime64 type.
# Handles multiple date formats automatically.
# Why? Datetime type allows you to extract parts like year/month/day, perform comparisons, and resample easily.

df = pd.DataFrame({
    'Date': ['2025-01-01', '2015/01/02', 'Jan 3, 2027']
})
df['Date'] = pd.to_datetime(df['Date'], format='mixed')

In [23]:
# Extracting Date Parts — .dt Accessor ---- Once a column is datetime, use .dt to get components:
df['Year']=df['Date'].dt.year
df['Month']=df['Date'].dt.month
df['Day']=df['Date'].dt.day
df['Weekday']=df['Date'].dt.day_name();

Common frequency strings:

'D' → Daily

'W' → Weekly

'ME' → Month-end

'Q' → Quarter-end

'Y' → Year-end

In [29]:
# Resampling Time Series — .resample()
# Groups time series data into a new frequency (daily, monthly, yearly, etc.).
# Requires a datetime index.

df=pd.DataFrame({
    'Date': pd.date_range(start='2025-01-01',periods=10,freq='D'),
    'Sales': [100, 120, 90, 110, 150, 130, 170, 160, 180, 200]
})
print(df)
df.set_index('Date',inplace=True)

df1=df.resample('ME').mean()
df2=df.resample('W').sum()
print("monthly avg",df1)
print("monthly sum",df2)

        Date  Sales
0 2025-01-01    100
1 2025-01-02    120
2 2025-01-03     90
3 2025-01-04    110
4 2025-01-05    150
5 2025-01-06    130
6 2025-01-07    170
7 2025-01-08    160
8 2025-01-09    180
9 2025-01-10    200
monthly avg             Sales
Date
2025-01-31  141.0
monthly sum             Sales
Date
2025-01-05    570
2025-01-12    840