<a href="https://colab.research.google.com/github/Kausharalam7/Data-Science/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables**

*   A variable is a name that refers to a value stored in memory.
*   In Python, you don’t need to declare the data type explicitly (dynamic typing).

Rules
1.   Must start with a letter or underscore (_).
2.   Cannot start with a number.
3.   Can contain letters, digits, and underscores.
4.   Case-sensitive (age, Age, and AGE are different).

In [ ]:
x=10
y="hell0"
z=3.14
x=25
print(x,y,z)

25 hell0 3.14

DATA TYPES

In [ ]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Type Casting**
1. Converting one data type into another.
2. Implicit Casting: Python automatically converts smaller data type to larger.

In [ ]:
x=5
y=4.5
z=x+y
print(z)

9.5

Explicit Casting: You manually convert.

In [ ]:
a = int(3.9)
b = float(5)
c = str(100)
print(a,b,c)

3 5.0 100

In [ ]:
name = "Alice"
age = 25
print("Name:", name, "Age:", age)
# OR modern way:
print(f"My name is {name} and I am {age} years old.")

Name: Alice Age: 25
My name is Alice and I am 25 years old.

Using input() (always returns a string by default):

In [ ]:
age = input("Enter your age: ")
print(type(age))

Enter your age:
<class 'str'>

In [ ]:
#Convert input to correct type:

age = int(input("Enter your age: "))
print(age + 5)

Enter your age: 25
30

In [ ]:
# / → normal division, returns float. // → floor division, returns integer part.
a=10
b=3
print(a/b)
print(a//b)
print(a%b)

3.3333333333333335
3
1

In [ ]:
x = 10
print(x > 5 and x < 20)
print(x > 15 or x < 5)
print(not(x > 5))

True
False
False

In [ ]:
# What is the difference between == and is?
# == compares values, is compares object identity (memory location).

a = [1, 2]
b = [1, 2]
print(a == b)
print(a is b)

In [ ]:
x="alamj"
x*=5
print(x)

alamjalamjalamjalamjalamj

**Control Flow**

In [ ]:
x=50
if x>70:
  print("A")
elif x>60:
  print("B")
elif x>50:
  print("c")
else:
  print("D")

D

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
i=5
while(i<20):
  print(i)
  i+=1

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(1,1000):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [ ]:
for i in range(5):
    if i == 3:
        pass  # do nothing for now
    print(i)

0
1
2
3
4

In [ ]:
# How to loop through both index and value of a list? --- Use enumerate().
arr = ["a", "b", "c"]
for i, val in enumerate(arr):
    print(i, val)

0 a
1 b
2 c

**LIST**
1. Ordered collection of elements.
2. Mutable → can change after creation.
3. Allows duplicate values.
4. Indexed (0-based).

In [ ]:
# creating list
empty_list = []
numbers = [1, 2, 3, 4]
mixed = [10, "hello", 3.14, True]
nested = [[1,2], [3,4]]

print(mixed)
print(nested)

[10, 'hello', 3.14, True]
[[1, 2], [3, 4]]

In [ ]:
fruits = ["apple", "banana", "cherry", "mango"]
fruits.append("orange")       # adds at end
fruits.insert(1, "kiwi")      # insert at index
fruits.extend(["pear", "fig"])  # add multiple
print(fruits)

['apple', 'kiwi', 'banana', 'cherry', 'mango', 'orange', 'pear', 'fig']

In [ ]:
nums=[2,3,4,56,7]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))

5
56
2
72

In [ ]:
# inplace sort
nums.sort()
print(nums)

[2, 3, 4, 7, 56]

In [ ]:
# descending
nums.sort(reverse=True)
print(nums)

[56, 7, 4, 3, 2]

**Tuple**
* Ordered collection of elements.
* Immutable → cannot change values after creation.
* Can contain duplicates.
* Faster than lists because of immutability.
* Used when you want data to remain constant (e.g., coordinates, fixed values).

In [ ]:
# creating tuple
empty_tuple=()
numbers=(1,2,58,45,5)
mixed=("rana",True,3.45,35)
print(mixed)

# Single element type (must inlcude comma)
single=(4,)

('rana', True, 3.45, 35)

In [ ]:
fruits=("apple","banana","cherry")
#fruits[1]="lemon"    Error (cannot modify)

# But you can reassign entire tuple
fruits = ("kiwi", "orange")
print(fruits)

('kiwi', 'orange')

In [ ]:
nums = (5, 2, 9, 1, 2)
print(len(nums))
print(max(nums))
print(sum(nums))
print(nums.count(12))
print(nums.index(9))

5
9
19
0
2

**Set**
* Unordered collection of unique elements.
* No duplicates allowed.
* Mutable → can add/remove elements.
* Unindexed → cannot access using index like lists/tuples.
* Supports set operations → union, intersection, difference, symmetric difference.

In [ ]:
# creating set
empty_set=set()
numbers={1,2,3,4,5}
mixed={10,"alam",True}
print(mixed)

{'alam', True, 10}

In [ ]:
# no duplicates
nums = {1, 2, 2, 3, 4, 4}
print(nums)

{1, 2, 3, 4}

In [ ]:
fruits = {"apple", "banana"}

fruits.add("cherry")       # Add single element
fruits.update(["mango", "kiwi"])  # Add multiple

fruits.remove("banana")    # Removes, error if not found
fruits.discard("grape")    # Removes, no error if not found

print(fruits.pop())        # Removes a random element
fruits.clear()             # Removes all elements

apple

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)
print(A & B)
print(A - B)
print(A^B)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

**Dictionaries**
* Unordered collection of data stored as key-value pairs.
* Mutable → can change values.
* Keys must be unique and immutable (strings, numbers, tuples).
* Values can be of any data type (even lists, sets, or another dictionary).

In [ ]:
# creating dictionaries
d={}

student={"name": "Amit", "age": 22, "marks": 85}
employee = dict(id=101, dept="HR", salary=50000)

print(student["name"])
print(employee["salary"])

Amit
50000

In [ ]:
# Accessing Values
student = {"name": "Amit", "age": 22}

print(student["name"])
print(student.get("age"))
print(student.get("grade", "Not Found"))  # Default value if key not found

Amit
22
Not Found

In [ ]:
# adding & updating values
student["marks"]=90
student["age"]=50
print(student)

{'name': 'Amit', 'age': 50, 'marks': 90}

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'marks'])
dict_values(['Amit', 50, 90])
dict_items([('name', 'Amit'), ('age', 50), ('marks', 90)])

In [ ]:
# looping
for k, v in student.items():
    print(k, ":", v)

name : Amit
age : 50
marks : 90

In [ ]:
# nesting dictionaries
students = {
    "s1": {"name": "Amit", "marks": 85},
    "s2": {"name": "Neha", "marks": 92}
}

print(students["s1"]["name"])

Amit

In [ ]:
# Dictionary Comprehension
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Function**

In [ ]:
def greet():
  print("Kaushar alam")
greet()

Kaushar alam

In [ ]:
def greet(role):
  print(f"Hello, {role}")
greet("Data Analyst")
greet(5)

Hello, Data Analyst
Hello, 5

Types of Parameters:

Positional → Order matters

Default → Parameter has default value

Keyword → Call by name

Variable-length → *args, **kwargs

In [ ]:
# Positional
def add(a, b):
    return a + b
print(add(2, 3))

# Default
def greet(name="Analyst"):
    print(f"Hello, {name}!")
greet()

# Keyword
print(add(b=5, a=10))

5
Hello, Analyst!
15
10
Name : Kaushar
Role : Data Analyst

In [ ]:
#args (Variable Positional Arguments)
#Used to pass multiple values without defining fixed parameters.
#They are stored as a tuple.
# *args (tuple of values)

def total(*nums):
    return sum(nums)
print(total(1, 2, 3, 4))

10

In [ ]:
# kwargs (Variable Keyword Arguments)
# Used when you want to accept multiple key-value pairs.
# They are stored as a dictionary.

def info(**data):
    for k, v in data.items():
        print(k, ":", v)

info(Name="Kaushar", Role="Data Analyst")

In [ ]:
# Lambda Functions (Anonymous Functions)
# Created using lambda keyword.
# Can have any number of arguments, but only one expression.
# Used when you need a short function temporarily.

# Normal function
def square(x):
  return x*x

# lambda equivalent
square=lambda x:x*x
print(square(5))

add = lambda a, b: a + b
print(add(3, 7))

25
10

**File Handling**

In [ ]:
# Opening files --- Python uses the built-in open() function:
f = open("example.txt", "r")

Modes:

"r" → Read (default, error if file doesn’t exist)

"w" → Write (creates new or overwrites existing file)

"a" → Append (adds content at the end of file)

"x" → Create (error if file exists)

"b" → Binary mode (rb, wb) for non-text files (images, PDFs)

 Best Practice: Use with statement (auto-closes file).

In [ ]:
with open("/content/orders (1).csv","r") as f:
  content=f.read()
  print(content)

order_id,order_date,ship_date,ship_mode,customer_id,region,product_id,category,sales,quantity,profit
CA-2020-152156,08-11-2020,11-11-2020,Second Class,CG-12520,South,FUR-BO-10001798,Furniture,262,2,41.9
CA-2020-152156,08-11-2020,11-11-2020,Second Class,CG-12520,South,FUR-CH-10000454,Furniture,731.9,3,219.6
CA-2020-138688,12-06-2020,16-06-2020,Second Class,DV-13045,West,OFF-LA-10000240,Office Supplies,14.6,2,6.9
US-2019-108966,11-10-2019,18-10-2019,Standard Class,SO-20335,South,FUR-TA-10000577,Furniture,957.6,5,-383
US-2019-108966,11-10-2019,18-10-2019,Standard Class,SO-20335,South,OFF-ST-10000760,Office Supplies,22.4,2,2.5
CA-2018-115812,09-06-2018,14-06-2018,Standard Class,BH-11710,West,FUR-FU-10001487,Furniture,48.9,7,14.2
CA-2018-115812,09-06-2018,14-06-2018,Standard Class,BH-11710,West,OFF-AR-10002833,Office Supplies,7.3,4,2
CA-2018-115812,09-06-2018,14-06-2018,Standard Class,BH-11710,West,TEC-PH-10002275,Technology,907.2,6,90.7
CA-2018-115812,09-06-2018,14-06-2018,Standard Class,BH-11710,West,OFF-BI-10003910,Office Supplies,18.5,3,5.8
CA-2018-115812,09-06-2018,14-06-2018,Standard Class,BH-11710,West,OFF-AP-10002892,Office Supplies,114.9,5,34.5
CA-2018-115812,09-06-2018,14-06-2018,Standard Class,BH-11710,West,FUR-TA-10001539,Furniture,1706.2,9,85.3
CA-2018-115812,09-06-2018,14-06-2018,Standard Class,BH-11710,West,TEC-PH-10002033,Technology,911.4,4,68.4
CA-2021-114412,15-04-2021,20-04-2021,Standard Class,AA-10480,South,OFF-PA-10002365,Office Supplies,15.6,3,5.4
CA-2020-161389,05-12-2020,10-12-2020,Standard Class,IM-15070,West,OFF-BI-10003656,Office Supplies,408,3,132.6
US-2019-118983,22-11-2019,26-11-2019,Standard Class,HP-14815,Central,OFF-AP-10002311,Office Supplies,68.8,5,-123.9
US-2019-118983,22-11-2019,26-11-2019,Standard Class,HP-14815,Central,OFF-BI-10000756,Office Supplies,2.5,3,-3.8
CA-2018-105893,11-11-2018,18-11-2018,Standard Class,PK-19075,Central,OFF-ST-10004186,Office Supplies,665.9,6,13.3
CA-2018-167164,13-05-2018,15-05-2018,Second Class,AG-10270,West,OFF-ST-10000107,Office Supplies,55.5,2,10
CA-2018-143336,27-08-2018,01-09-2018,Second Class,ZD-21925,West,OFF-AR-10003056,Office Supplies,8.6,2,2.5
CA-2018-143336,27-08-2018,01-09-2018,Second Class,ZD-21925,West,TEC-PH-10001949,Technology,213.5,3,16
CA-2018-143336,27-08-2018,01-09-2018,Second Class,ZD-21925,West,OFF-BI-10002215,Office Supplies,22.7,4,7.4
CA-2020-137330,09-12-2020,13-12-2020,Standard Class,KB-16585,Central,OFF-AR-10000246,Office Supplies,19.5,7,5.1
CA-2020-137330,09-12-2020,13-12-2020,Standard Class,KB-16585,Central,OFF-AP-10001492,Office Supplies,60.3,7,15.7
US-2021-156909,16-07-2021,18-07-2021,Second Class,SF-20065,East,FUR-CH-10002774,Furniture,71.4,2,-1
CA-2019-106320,25-09-2019,30-09-2019,Standard Class,EB-13870,West,FUR-TA-10000577,Furniture,1044.6,3,240.3
CA-2020-121755,16-01-2020,20-01-2020,Second Class,EH-13945,West,OFF-BI-10001634,Office Supplies,11.6,2,4.2
CA-2020-121755,16-01-2020,20-01-2020,Second Class,EH-13945,West,TEC-AC-10003027,Technology,90.6,3,11.8
US-2019-150630,17-09-2019,21-09-2019,Standard Class,TB-21520,East,FUR-BO-10004834,Furniture,3083.4,7,-1665.1
US-2019-150630,17-09-2019,21-09-2019,Standard Class,TB-21520,East,OFF-BI-10000474,Office Supplies,9.6,2,-7.1
US-2019-150630,17-09-2019,21-09-2019,Standard Class,TB-21520,East,FUR-FU-10004848,Furniture,124.2,3,15.5
US-2019-150630,17-09-2019,21-09-2019,Standard Class,TB-21520,East,OFF-EN-10001509,Office Supplies,3.3,2,1.1
US-2019-150630,17-09-2019,21-09-2019,Standard Class,TB-21520,East,OFF-AR-10004042,Office Supplies,86.3,6,9.7
US-2019-150630,17-09-2019,21-09-2019,Standard Class,TB-21520,East,OFF-BI-10001525,Office Supplies,6.9,6,-5.7
US-2019-150630,17-09-2019,21-09-2019,Standard Class,TB-21520,East,OFF-AR-10001683,Office Supplies,15.8,2,3.5
CA-2021-107727,19-10-2021,23-10-2021,Second Class,MA-17560,Central,OFF-PA-10000249,Office Supplies,29.5,3,9.9
CA-2020-117590,08-12-2020,10-12-2020,First Class,GH-14485,Central,TEC-PH-10004977,Technology,1097.5,7,123.5
CA-2020-117590,08-12-2020,10-12-2020,First Class,GH-14485,Central,FUR-FU-10003664,Furniture,190.9,5,-148
CA-2019-117415,27-12-2019,31-12-2019,Standard Class,SN-20710,Central,OFF-EN-10002986,Office Supplies,113.3,9,35.4
CA-2019-117415,27-12-2019,31-12-2019,Standard Class,SN-20710,Central,FUR-BO-10002545,Furniture,532.4,3,-47
CA-2019-117415,27-12-2019,31-12-2019,Standard Class,SN-20710,Central,FUR-CH-10004218,Furniture,212.1,3,-15.1
CA-2019-117415,27-12-2019,31-12-2019,Standard Class,SN-20710,Central,TEC-PH-10000486,Technology,371.2,4,41.8
CA-2021-120999,10-09-2021,15-09-2021,Standard Class,LC-16930,Central,TEC-PH-10004093,Technology,147.2,4,16.6
CA-2020-101343,17-07-2020,22-07-2020,Standard Class,RA-19885,West,OFF-ST-10003479,Office Supplies,77.9,2,3.9
CA-2021-139619,19-09-2021,23-09-2021,Standard Class,ES-14080,South,OFF-ST-10003282,Office Supplies,95.6,2,9.6
CA-2020-118255,11-03-2020,13-03-2020,First Class,ON-18715,Central,TEC-AC-10000171,Technology,46,2,19.8
CA-2020-118255,11-03-2020,13-03-2020,First Class,ON-18715,Central,OFF-BI-10003291,Office Supplies,17.5,2,8.2
CA-2018-146703,20-10-2018,25-10-2018,Second Class,PO-18865,Central,OFF-ST-10001713,Office Supplies,212,4,8.5
CA-2020-169194,20-06-2020,25-06-2020,Standard Class,LH-16900,East,TEC-AC-10002167,Technology,45,3,5
CA-2020-169194,20-06-2020,25-06-2020,Standard Class,LH-16900,East,TEC-PH-10003988,Technology,21.8,2,6.1
CA-2019-115742,18-04-2019,22-04-2019,Standard Class,DP-13000,Central,OFF-BI-10004410,Office Supplies,38.2,6,18

**Exception Handling**

In [ ]:
# What are Exceptions? --- Errors occur when Python cannot execute code properly.
print(10/0)

ZeroDivisionError: division by zero

In [ ]:
int(abc) # valueerror

NameError: name 'abc' is not defined

In [ ]:
try:
  num=int(input("Enter a number: "))
  print(10/num)
except ZeroDivisionError:
  print("Error: Cannot divide by zero")
except ValueError:
  print("Error: Invalid input, enter a number.")

Enter a number: 0
Error: Cannot divide by zero

In [ ]:
# Catching Any Exception
try:
    x = int("abc")
except Exception as e:
    print("An error occurred:", e)

An error occurred: invalid literal for int() with base 10: 'abc'

In [ ]:
# finally Block
# Always executes (whether error happens or not).
# Useful for cleanup (closing files, DB connections).

try:
    f = open("data.txt", "r")
    print(f.read())
except FileNotFoundError:
    print("File not found!")
finally:
    print("Closing resources...")
    try:
        f.close()
    except:
        pass

File not found!
Closing resources...